@import java.net.URI
@import se.lu.nateko.cp.cpauth.Envri
@import se.lu.nateko.cp.cpauth.Envri.Envri

@(email: String, link: URI)(implicit envri: Envri)
@template{
	<table  style="font-size: 12pt">
		<tr>
			<td style="padding-bottom:20px;">Dear @{email},</td>
		</tr>
		<tr>
			<td>@name has received a request to create an account for you, or initiate a password reset for you.</td>
		</tr>
		<tr>
			<td>If you are not interested in any of these procedures, you can safely ignore this email.</td>
		</tr>
		<tr>
			<td>Otherwise, please click <a target="_blank" href="@{link.toString}">here</a> to create/reset your password with the @name authentication service.</td>
		</tr>
		<tr>
			<td>P.S. If clicking on the link results in an error message from the @name authentication server, the problem may be due to your email client corrupting the link. In this case, please also try copy-pasing the following URL into your browser's address bar:<br>
			@link
			</td>
		</tr>
	</table>
}

@name = @{ if(envri == Envri.SITES) "SITES" else "Carbon Portal" }
@title = @{ "Create/reset your " + name + " password" }
@template = @{ if(envri == Envri.SITES) SitesEmail(title) _ else CpEmail(title) _ }
