@import se.lu.nateko.cp.cpauth.Envri
@import se.lu.nateko.cp.cpauth.Envri.Envri

@()(implicit envri: Envri)
@CpauthPage(adminPageTitle, "Manage all accounts here", "administration"){
}{
	<div class="row"><div class="col-md-12">

		<ul class="nav nav-tabs" role="tablist">

			<li role="presentation" class="active">
				<a href="#new" aria-controls="new" role="tab" data-toggle="tab" id="new-link">
					Create a new account
				</a>
			</li>

			<li role="presentation">
				<a href="#edit" aria-controls="edit" role="tab" data-toggle="tab" id="edit-link">
					Edit accounts
				</a>
			</li>

			<li role="presentation">
				<a href="#loginas" aria-controls="edit" role="tab" data-toggle="tab" id="loginas-link">
					Log in as user
				</a>
			</li>

			<li class="col-sm-8"></li>
		</ul>

	</div></div> <!-- col, row -->

	<div class="row"><div class="col-md-12">
		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="new">
				<div class="panel panel-default">
					<div class="panel-body">

						<form id="new-account" autocomplete="off">

							<div class="form-group required">
								<label for="mail" class="control">Email:</label>
								<input id="newaccmail" name="mail" type="email" class="form-control" placeholder="New user's email" autocomplete="off"/>
							</div>

							<div class="form-group required">
								<label for="password" class="control">Password:</label>
								<input id="password" name="password" type="password" class="form-control" placeholder="Password" autocomplete="new-password"/>
							</div>

							<button type="button" class="btn btn-default" id="new-account-button">Create!</button>

						</form>

					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="edit">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="list-accounts"></div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="loginas">
				<div class="panel panel-default">
					<div class="panel-body">

						<form id="loginas-account" autocomplete="off">

							<div class="form-group required">
								<label for="mail" class="control">Email:</label>
								<input id="loginasmail" name="mail" type="email" class="form-control" placeholder="User's email" autocomplete="off"/>
							</div>

							<button type="button" class="btn btn-default" id="loginas-button">Log in!</button>

						</form>

					</div>
				</div>
			</div>

		</div>
	</div></div> <!-- col, row -->
}

@adminPageTitle = @{ if(envri == Envri.SITES) "Account Management" else "Manage Carbon Portal accounts" }
