@import eu.icoscp.envri.Envri

@(title: String, subheading: String, scriptName: String)(customHeader: Html)(body: Html)(implicit envri: Envri)
@template{
	<script src="https://static.icos-cp.eu/constant/jquery/1.11.2/jquery.min.js"></script>
	@customHeader
	<script src="common.js"></script>
	<script src="@(scriptName).js"></script>
	<style>
		.fixed-message {
			position:fixed;
			top:3px;
			right: 15px;
		}
		#message{
			z-index: 3;
		}
	</style>

	<script>
		$(window).scroll(function() {
			if ($('#message-container').offset().top < $(window).scrollTop()) {
				$('#message').addClass('fixed-message');
			} else {
				$('#message').removeClass('fixed-message');
			}
		});
	</script>
}{
	<div class="page-header">
		@if(envri == Envri.SITES) {
		<h1>@title</h1>
		} else {
		<h1>ICOS Carbon Portal Authentication Service <small class="text-muted">@subheading</small></h1>
		}
	</div>

	<div id="message-container">
		<div id="message" class="alert" role="alert" style="display: none;"></div>
	</div>

	@body
}

@template = @{
	if(envri == Envri.SITES)
		SitesPage(title, bootstrapJavascript = true, "auth.fieldsites.se", dataHost = "data.fieldsites.se") _
	else if(envri == Envri.ICOS)
		CpCommonPage(title, authHost = "cpauth.icos-cp.eu", bootstrapJavascript = true, dataHost = "data.icos-cp.eu") _
	else
		CpCommonPage(title, authHost = "cpauthstaging.icos-cp.eu", bootstrapJavascript = true, dataHost = "citydata1.icos-cp.eu") _
}
