@import eu.icoscp.envri.Envri

@()(implicit envri: Envri)
@template{
}{
		<div class="container-fluid">

			<div class="page-header">
				<h1>@name GÉANT privacy statement</h1>
			</div>

			<div class="row">
				<table class="table table-bordered table-striped">
					<tbody>
						<tr>
							<th>Name of the service</th>
							<td>@name Authentication Service</td>
						</tr>
						<tr>
							<th>Description of the service</th>
							<td>Single sign on for all @name services</td>
						</tr>
						<tr>
							<th>Data controller and a contact person</th>
							@if(envri == Envri.SITES) {
							<td>
								<a href="http://www.fieldsites.se/">SITES</a><br />
								Jonathan Thiry
							</td>
							} else {
							<td>
								<a href="https://www.icos-ri.eu">ICOS</a><br />
								<a href="https://www.icos-cp.eu">ICOS Carbon Portal</a><br />
								Oleg Mirzov
							</td>
							}
						</tr>
						<tr>
							<th>Jurisdiction</th>
							<td>SE Sweden</td>
						</tr>
						<tr>
							<th>Personal data processed</th>
							<td>A. Following data is retrieved from your Home Organisation:<br />
								- your first name<br />
								- your last name<br />
								- your email address<br />
								B. Following data is gathered from yourself:<br />
								- your activity may be logged by various @name services
							</td>
						</tr>
						<tr>
							<th>Purpose of the processing of personal data</th>
							<td>
								- calculating anonymized @envri data usage statistics<br />
								- providing personalized services for the users
							</td>
						</tr>
						<tr>
							<th>Third parties to whom personal data is disclosed</th>
							<td>The personal data will not be disclosed to any parties</td>
						</tr>
						<tr>
							<th>How to access, rectify and delete the personal data</th>
							<td>Contact the contact person above. <br />
								To rectify the data released by your Home Organisation, contact your Home Organisation's IT helpdesk.
							</td>
						</tr>
						<tr>
							<th>Data retention</th>
							<td>Personal data is deleted on request of the user or if the user hasn't used the service for two years.</td>
						</tr>
						<tr>
							<th>Data Protection Code of Conduct</th>
							<td>Your personal data will be protected according to the <a class="external-link" href="http://www.geant.net/uri/dataprotection-code-of-conduct/v1" rel="nofollow" title="http://www.geant.net/uri/dataprotection-code-of-conduct/v1">Code of Conduct for Service Providers</a>, a common standard for the research and higher education sector to protect your privacy.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

}

@name = @{ 
	envri match
		case Envri.SITES => "SITES"
		case Envri.ICOS => "Carbon Portal"
		case Envri.ICOSCities => "ICOS Cities"
	}
@title = @{ name + " GÉANT privacy statement" }
@template = @{
if(envri == Envri.SITES)
		SitesPage(title) _
	else
		CpCommonPage(title) _
}
