@import se.lu.nateko.cp.cpauth.Envri
@import se.lu.nateko.cp.cpauth.Envri.Envri
@import se.lu.nateko.cp.cpauth.views.ViewStrings.homeStrings

@()(implicit envri: Envri)
@CpauthPage(homeStrings.title, homeStrings.subheading, "home"){
}{
	<div id="hello" style="display: none">
		@if(envri == Envri.ICOS){
		<div class="mb-4">
			<p>Here you can see and edit your personal data. All information is voluntary, remains your property and you are in control, please see our privacy policy! We will use the information only to improve our services to you. In the future, you will access and manage here the links to your stored searches and downloads and, in case of updates of the data that you downloaded, you'll be able to opt in here to receive notifications of updates.</p>
			<p>As soon as you have accepted the ICOS data policy, your choice will be remembered, and, when signed in, you will not be bothered by ICOS license acceptance before every dataset download.</p>
			<p>Gender and year of birth information are not obligatory, either, and will only be used in usage statistics (for example, number of downloads and page views) and will never be traceable to individuals.</p>
			<p>ICOS PIs and contributors can fill in their details here so that we can contact you, especially we recommend specifying ORCID ID if you have one. We plan to use this, with your explicit permission, to automatically update your ORCID profile with your contributed data and usage and citation statistics of this data. It will also be useful to record your ICOS-related publications to the ICOS publication list.</p>
			<p>The API token at the end of the page enables technical users to perform automated operations, such as data uploads and batch-downloads.</p>
		</div>
		}
		<div class="card mb-4">
			<div class="card-header">
				<h3 class="fs-6 mb-0">
					<span class="fas fa-user" aria-hidden="true"></span>
					User profile
				</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-10">
						@ValueWidget("User ID"){
							<span id="email" class="form-control"></span>
						}
						@ValueWidget("License acceptance"){
							<div class="input-group">
								<span class="input-group-text">
									<input id="icosLicenceOk" type="checkbox">
								</span>
								<span class="form-control">
									I accept the <a href="@homeStrings.licenceUrl">@envri data license</a> (CC BY 4.0)
								</span>
							</div>
						}
						@TextValueControl("First name", "givenName", "First name")
						@TextValueControl("Last name", "surname", "Last name")
						@TextValueControl("ORCID id", "orcid", "ORCID")
						@TextValueControl("Affiliation", "affiliation", "Affiliation")
						@TextValueControl("Secondary affiliation", "affiliation2", "Secondary affiliation")
						@TextValueControl("Telephone (work)", "workPhone", "+XX XXX XXXX")
						@TextValueControl("Mobile phone", "mobilePhone", "+XX XXX XXXX")
						@ValueWidget("Address"){
							@TextValueControl("Street address", "streetAddress", "Street address (work)")
							@TextValueControl("City", "city", "City")
							@TextValueControl("Zip code", "zipCode", "Zip code")
							@TextValueControl("Country", "country", "Country")
						}
						@ValueWidget("Gender"){
							<select id="gender" class="form-select">
								<option value="">unspecified</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
							</select>
						}
						@ValueWidget("Year of birth"){
							<input id="birthYear" type="text" class="form-control" placeholder="nnnn" pattern="[12][09][0-9]{2}">
						}
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-primary mb-2" id="updateProfileButton">Save profile</button>
						<button type="button" class="btn btn-secondary mb-2" id="signOutButton">Sign out</button>
					</div>
				</div>
			</div>
		</div>

		@DangerousDeletionPanel("profile")("Delete all information in your profile and your activities. A new profile will be created so you can keep using your account.")

		<div id="forLocalsOnly" style="display: none">

			<div class="card mb-4">
				<div class="card-header">
					<h3 class="fs-6 mb-0">
						<span class="fas fa-wrench" aria-hidden="true"></span>
						Change your password
					</h3>
				</div>
				<div class="card-body">
					@ValueWidget("Old password"){
						<input id="oldPassword" type="password" class="form-control">
					}
					@ValueWidget("New password"){
						<input id="newPassword" type="password" class="form-control">
					}
					<button class="btn btn-primary" type="button" id="changePasswordButton">Change password</button>
				</div>
			</div>
			@DangerousDeletionPanel("account")("Delete your profile and your account. You will have to sign up again and create a new account to use this service.")
		</div>

		<div class="card mb-4">
			<div class="card-header">
				<h3 class="fs-6 mb-0">
					<span class="fas fa-user" aria-hidden="true"></span>
					API token
				</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						<strong>Value</strong>
					</div>
					<div id="tokenValue" class="col-md-10" style="word-wrap: break-word;"></div>
				</div>
				<div class="row" style="margin-top: 5px">
					<div class="col-md-2">
						<strong>Expiry</strong>
					</div>
					<div id="tokenExpiry" class="col-md-10"></div>
				</div>
				<div class="row" style="margin-top: 5px">
					<div class="col-md-2">
						<strong>Source</strong>
					</div>
					<div id="tokenSource" class="col-md-10"></div>
				</div>
			</div>
		</div>

	</div>
}

@ValueWidget(title: String)(valueHtml: Html) = {
	<div class="row" style="margin-bottom: 7px">
		<label class="col-md-2 col-form-label"><strong>@{title}</strong></label>
		<div class="col-md-10">
			@valueHtml
		</div>
	</div>
}

@TextValueControl(title: String, id: String, placeholder: String) = {
	@ValueWidget(title){
		<input id="@id" type="text" class="form-control" placeholder="@placeholder">
	}
}

@DangerousDeletionPanel(deletedInfo: String)(explanation: String) = {
	@defining(deletedInfo.capitalize){capitalized =>
		<div class="card mb-4">
			<div class="card-header">
				<h3 class="fs-6 mb-0">
					<span class="fas fa-trash" aria-hidden="true"></span>
					Delete your @deletedInfo
				</h3>
			</div>
			<div class="card-body">
				<div><p>@explanation</p></div>
				<button type="button" class="btn btn-danger" id="delete@{capitalized}Button">Delete @deletedInfo</button>

				<div id="delete@{capitalized}Confirmation" style="display: none">
					<div class="card border-danger">
						<div class="card-header bg-danger border-danger">
							<h3 class="fs-6 mb-0">
								<span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
								ARE YOU SURE YOU WANT TO DELETE YOUR @{deletedInfo.toUpperCase}?
							</h3>
						</div>
						<div class="card-body">
							<button type="button" class="btn btn-danger" id="reallyDelete@{capitalized}Button">Yes, delete it</button>
							<button type="button" class="btn btn-secondary" id="cancelDelete@{capitalized}Button">No, keep my @{deletedInfo}</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	}
}

