@CpauthPage("Welcome to Carbon Portal", "Manage your account here", "home"){
}{
	<div id="hello" hidden>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Here you can see and edit your personal data. All information is voluntary, remains your property and you are in control, please see our privacy policy! We will use the information only to improve our services to you. In the future, you will access and manage here the links to your stored searches and downloads and, in case of updates of the data that you downloaded, you'll be able to opt in here to receive notifications of updates.</p>
				<p>As soon as you have accepted the ICOS data policy, your choice will be remembered, and, when signed in, you will not be bothered by ICOS license acceptance before every dataset download.</p>
				<p>Gender and year of birth information are not obligatory, either, and will only be used in usage statistics (for example, number of downloads and page views) and will never be traceable to individuals.</p>
				<p>ICOS PIs and contributors can fill in their details here so that we can contact you, especially we recommend specifying ORCID ID if you have one. We plan to use this, with your explicit permission, to automatically update your ORCID profile with your contributed data and usage and citation statistics of this data. It will also be useful to record your ICOS-related publications to the ICOS publication list.</p>
				<p>The API token at the end of the page enables technical users to perform automated operations, such as data uploads and batch-downloads.</p>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					User profile
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
						@ValueWidget("User ID"){
							<input type="text" class="form-control" id="email" readonly>
						}
						@ValueWidget("License acceptance"){
							<div class="input-group">
								<span class="input-group-addon">
									<input id="icosLicenceOk" type="checkbox">
								</span>
								<input type="text" class="form-control" value="I accept the ICOS data license (CC BY 4.0)" readonly>
							</div>
						}
						@TextValueControl("First name", "givenName", "First name")
						@TextValueControl("Last name", "surname", "Last name")
						@TextValueControl("ORCID id", "orcid", "ORCID")
						@TextValueControl("Affiliation", "affiliation", "Affiliation")
						@TextValueControl("Secondary affiliation", "affiliation2", "Secondary affiliation")
						@TextValueControl("Telephone (work)", "workPhone", "+XX XXX XXXX")
						@TextValueControl("Mobile phone", "mobilePhone", "+XX XXX XXXX")
						@ValueWidget("Address"){
							@TextValueControl("Street address", "streetAddress", "Street address (work)")
							@TextValueControl("City", "city", "City")
							@TextValueControl("Zip code", "zipCode", "Zip code")
							@TextValueControl("Country", "country", "Country")
						}
						@ValueWidget("Gender"){
							<select id="gender" class="form-control">
								<option value="">unspecified</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
							</select>
						}
						@ValueWidget("Year of birth"){
							<input id="birthYear" type="text" class="form-control" placeholder="nnnn" pattern="[12][09][0-9]{2}">
						}
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">
								<button type="button" class="btn btn-primary btn-lg" id="signOutButton">Sign out</button>
							</div>
						</div>
						<div class="row" style="margin-top:20px">
							<div class="col-md-12">
								<button type="button" class="btn btn-primary btn-lg" id="updateProfileButton">Save profile</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		@DangerousDeletionPanel("profile")("This operation will make Carbon Portal to forget all information about your user profile and activities")

		<div id="forLocalsOnly" hidden>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						You can change your password here:
					</h3>
				</div>
				<div class="panel-body">
					<div class="input-group">
						<span class="input-group-addon">Enter your old password</span>
						<input type="password" id="oldPassword" class="form-control" placeholder="Old password">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">Enter your new password</span>
						<input type="password" id="newPassword" class="form-control" placeholder="New password">
						<span class="input-group-btn">
						  <button class="btn btn-primary" type="button" id="changePasswordButton">Change!</button>
						</span>
					</div>
				</div>
			</div>
			@DangerousDeletionPanel("account")("This operation will delete your profile and remove your Carbon Portal username/password account")
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					Your API token:
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-1">
						<strong>Value:</strong>
					</div>
					<div id="tokenValue" class="col-sm-11" style="word-wrap: break-word;"></div>
				</div>
				<div class="row" style="margin-top: 5px">
					<div class="col-sm-1">
						<strong>Expiry:</strong>
					</div>
					<div id="tokenExpiry" class="col-sm-11"></div>
				</div>
				<div class="row" style="margin-top: 5px">
					<div class="col-sm-1">
						<strong>Source:</strong>
					</div>
					<div id="tokenSource" class="col-sm-11"></div>
				</div>
			</div>
		</div>

	</div>

	<div id="goodbye" hidden>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
					You are not signed in
				</h3>
			</div>
			<div class="panel-body">
				<h4>Sign in here: <a href="https://cpauth.icos-cp.eu/login/">https://cpauth.icos-cp.eu/login/</a></h4>
			</div>
		</div>
	</div>
}

@ValueWidget(title: String)(valueHtml: Html) = {
	<div class="row" style="margin-bottom: 7px">
		<div class="col-md-2"><strong>@{title}:</strong></div>
		<div class="col-md-10">
			@valueHtml
		</div>
	</div>
}

@TextValueControl(title: String, id: String, placeholder: String) = {
	@ValueWidget(title){
		<input id="@id" type="text" class="form-control" placeholder="@placeholder">
	}
}

@DangerousDeletionPanel(deletedInfo: String)(explanation: String) = {
	@defining(deletedInfo.capitalize){capitalized =>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					You can delete your @deletedInfo here:
				</h3>
			</div>
			<div class="panel-body">
				<div><p>@explanation</p></div>
				<button type="button" class="btn btn-primary btn-lg" id="delete@{capitalized}Button">Delete @deletedInfo</button>

				<div id="delete@{capitalized}Confirmation" hidden>
					<br/>
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								ARE YOU SURE YOU WANT TO DELETE YOUR @{deletedInfo.toUpperCase}?
							</h3>
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-primary btn-lg" id="cancelDelete@{capitalized}Button">NO! GO BACK TO SAFETY!</button>
							<button type="button" class="btn btn-danger btn-lg" id="reallyDelete@{capitalized}Button">YES</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	}
}

