@import eu.icoscp.envri.Envri

@()(implicit envri: Envri)
@CpauthPage(adminPageTitle, "Manage all accounts here", "administration"){
}{
	<div class="card mb-4">
		<div class="card-header">

			<ul class="nav nav-tabs card-header-tabs" role="tablist">

				<li role="presentation" class="nav-item">
					<a class="nav-link active" href="#new" aria-controls="new" role="tab" data-bs-toggle="tab" id="new-link">
						Create a new account
					</a>
				</li>

				<li role="presentation" class="nav-item">
					<a class="nav-link" href="#edit" aria-controls="edit" role="tab" data-bs-toggle="tab" id="edit-link">
						Edit accounts
					</a>
				</li>

				<li role="presentation" class="nav-item">
					<a class="nav-link" href="#loginas" aria-controls="edit" role="tab" data-bs-toggle="tab" id="loginas-link">
						Sign in as user
					</a>
				</li>

			</ul>

		</div>

		<div class="card-body tab-content">

			<div role="tabpanel" class="tab-pane active row" id="new">

				<div class="col-md-5">
					<form class="row g-3" id="new-account" autocomplete="off">

						<div class="col-12 form-group required">
							<label for="mail" class="form-label control">Email</label>
							<input id="newaccmail" name="mail" type="email" class="form-control" placeholder="Email" autocomplete="off"/>
						</div>

						<div class="col-12 form-group required">
							<label for="password" class="form-label control">Password</label>
							<input id="password" name="password" type="password" class="form-control" placeholder="Password" autocomplete="new-password"/>
						</div>

						<div class="col-12">
							<button type="button" class="btn btn-primary" id="new-account-button">Create account</button>
						</div>

					</form>
				</div>

			</div>

			<div role="tabpanel" class="tab-pane" id="edit">
				<div id="list-accounts"></div>
			</div>

			<div role="tabpanel" class="tab-pane row" id="loginas">
				<div class="col-md-5">
					<form class="row g-3" id="loginas-account" autocomplete="off">

						<div class="col-12 form-group required">
							<label for="mail" class="form-label control">Email</label>
							<input id="loginasmail" name="mail" type="email" class="form-control" placeholder="User's email" autocomplete="off"/>
						</div>

						<div class="col-12">
							<button type="button" class="btn btn-primary" id="loginas-button">Sign in</button>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>
}

@adminPageTitle = @{ if(envri == Envri.SITES) "Account Management" else "Manage Carbon Portal accounts" }
