@import eu.icoscp.envri.Envri

@(email: String)(implicit envri: Envri)
@CpauthPage("Set your password", "Set password", "passwordreset"){
}{
	<div class="card">
		<div class="card-body row">
			<div class="col-md-5 ">

				<form id="password-reset" class="row g-3" autocomplete="off">

					<div class="col-12 form-group">
						<label class="form-label" for="mail">Email</label>
						<input id="mail" name="mail" value="@email" class="form-control" readonly/>
					</div>

					<div class="col-12 form-group">
						<label class="form-label" for="newPass">Password</label>
						<input id="newPass" name="newPass" type="password" class="form-control" placeholder="New password"  autocomplete="new-password"/>
					</div>

					<div class="col-12 form-group">
						<label class="form-label" for="newPass2">Confirm password</label>
						<input id="newPass2" name="newPass2" type="password" class="form-control" placeholder="Confirm new password"  autocomplete="new-password"/>
					</div>

					<div class="col-12">
						<button type="button" class="btn btn-primary" id="setPasswordButton">Set password</button>
					</div>

				</form>

			</div>
		</div>
	</div>
}

