@import eu.icoscp.envri.Envri
@import se.lu.nateko.cp.cpauth.views.ViewStrings.loginStrings

@(oauthConfigJson: String)(implicit envri: Envri)
@CpauthPage(loginStrings.title, loginStrings.subheading, "login"){
	<script src="https://static.icos-cp.eu/constant/cookies.js/1.2.1/cookies.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.min.css">
	<link rel="stylesheet" href="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.structure.min.css">
	<link rel="stylesheet" href="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.theme.min.css">

	<script>
		document.oauthConfig = @Html(oauthConfigJson);
	</script>

	<style>
		.oauth-login-button {
			float: left;
			margin-right: 7px;
		}
		td.oauth-comment{
			vertical-align: middle;
		}
	</style>
}{
	<div>
		@Html(loginStrings.cookieNotice)
	</div>

	<div class="alert alert-warning">
		<i class="fas fa-exclamation-triangle me-2"></i>
		The certificate has been recently renewed, and because of this the login will not work until your University's Identity
		Provider picks up the change from SWAMID or eduGAIN.
	</div>

	<div class="card mb-4">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs" role="tablist">

				<li role="presentation" class="nav-item">
					<a class="nav-link active" href="#swamid" id="swamid-link" aria-controls="swamid" role="tab" data-bs-toggle="tab">
						University sign in
					</a>
				</li>

				<li role="presentation" class="nav-item">
					<a class="nav-link" href="#plain" id="plain-link" aria-controls="plain" role="tab" data-bs-toggle="tab">
						Password sign in
					</a>
				</li>

				<li role="presentation" class="nav-item">
					<a class="nav-link" href="#oauth-sign-in" id="oauth-sign-in-link" aria-controls="oauth-sign-in" role="tab" data-bs-toggle="tab">
						Social/OAuth sign in
					</a>
				</li>

				<li role="presentation" class="nav-item">
					<a class="nav-link" href="#create" id="create-link" aria-controls="create" role="tab" data-bs-toggle="tab">
						Create account / forgot password
					</a>
				</li>

			</ul>
		</div>

		<div class="card-body tab-content">

			<div role="tabpanel" class="tab-pane active" id="swamid">

				<form class="row g-3" id="saml-login" action="/saml/login">
					<input id="targetUrl" class="targetUrlRelay" type="hidden" name="targetUrl">

					<div class="col-md-5 form-group">
						<label class="form-label" for="idpUrlInput">University</label><br>
						<input type="text" id="idpUrlInput" class="form-control" placeholder="Type to search university..."/>
					</div>

					<div class="col-12">
						<button id="signonBtn" class="btn btn-primary">Sign in</button>
					</div>
				</form>

				</div>

				<div role="tabpanel" class="tab-pane row" id="plain">

					<div class="col-md-5">
						<form class="row g-3" id="plain-login">
							<input class="targetUrlRelay" type="hidden" name="targetUrl">

							<div class="col-md-12 form-group">
								<label class="form-label" for="mail">Email</label>
								<input id="mail" name="mail" type="email" class="form-control" placeholder="Enter email" />
							</div>

							<div class="col-md-12 form-group">
								<label class="form-label" for="password">Password</label>
								<input id="password" name="password" type="password" class="form-control" placeholder="Password" />
							</div>

							<div class="col-12">
								<button type="button" class="btn btn-primary" id="passwordLoginButton">Sign in</button>
							</div>

						</form>
					</div>

				</div>

				<div role="tabpanel" class="tab-pane" id="oauth-sign-in">

					<table class="table">
						<tbody>
							<tr>
								<td>
									<a type="button" id="orcididLoginButton" class="oauth-login-button">
										<img src="/images/orcidid_login.png"/>
									</a>
								</td>
								<td class="oauth-comment">
									@envri match{
										case Envri.ICOS | Envri.ICOSCities => {
											@orcidExplanation
										}
										case Envri.SITES => {}
									}
								</td>
							</tr>

							<tr>
								<td>
									<a type="button" id="facebookLoginButton" class="oauth-login-button">
										<img src="/images/facebook_login.png"/>
									</a>
								</td>
								<td></td>
							</tr>
							@envri match{
								case Envri.ICOS => {
									<tr>
										<td>
											<a type="button" id="atmoAccessLoginButton" class="oauth-login-button">
												<img src="/images/atmoAccess_login.png"/>
											</a>
										</td>
										<td class="oauth-comment">
											To use STILT footprint calculator and viewer services, an ATMO ACCESS login is [going to be] required.
										</td>
									</tr>
								}
								case Envri.SITES | Envri.ICOSCities => {}
							}
						</tbody>
					</table>

				</div>

				<div role="tabpanel" class="tab-pane" id="create">

					<form class="row g-3" id="create-account">

						<div class="col-md-5 form-group">
							<label class="form-label" for="newmail">Email</label>
							<input id="newmail" name="newmail" type="email" class="form-control" placeholder="Enter email" />
						</div>

						<div class="col-12">
							<button type="button" class="btn btn-primary" id="choosePasswordButton">Set password</button>
						</div>

					</form>

				</div>

			</div>
		</div>

@if(envri == Envri.ICOS){
	<div class="row"><div class="col-md-12">
		<p>When you sign in here, you get access to the services at Carbon Portal for which you are authorized, and to your personal account settings.</p>
		<p>Your login will be active for about one day on the same device where you logged in.</p>
		<p>Data search and download are freely accessible for everyone and can be performed without signing in, but one benefit of signing in is bypassing the ICOS data licence acceptance needed for every download. For this, accept the licence in your <a href="/home/">user profile</a> (available when signed in). More info on the ICOS data licence: <a href="https://data.icos-cp.eu/licence" target="_blank">https://data.icos-cp.eu/licence</a>.</p>
		<p>You can sign in with your institutional login through eduGAIN (preferred) or, if that does not work, through the social or password login. For the password login you should first create an account here, using the tab on the right. Please be aware that the email address with which you sign in will be the user id that identifies you to our services.</p>
	</div></div> <!-- col, row -->
}
}

@orcidExplanation = {
	<span>To be able to login with your existing ORCID ID account, you need to make your email information public in the ORCID account settings. Alternatively, if you already have a Carbon Portal account that you can access using other sign-in mechanism (e.g. username/password), you can specify you ORCID ID in your CP user profile (About -> My CP, when logged in). Then you will be able to sign in to that CP account from here, using your ORCID account instead.</span>
}
