/application.conf
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
/target/
/core/target/
lib_managed/
src_managed/
/project/project/
/project/target/

# Scala-IDE specific
.scala_dependencies
.worksheet
.project
.settings/
.classpath
.cache
.cache-main
.cache-tests

nohup.out

#Cpauth DB
db/

#Security-specific
src/main/resources/crypto/private/

#Large volatile files
src/main/resources/swamid-idps.xml

# Idea
.idea
/bin/
