/application.conf
*.class
*.log

# sbt specific
/target/
/core/target/
/viewsCore/target/
/envri/.js/
/envri/.jvm/
/georestheart/target/
/project/project/
/project/target/

# VSCode + Scala metals specific
.bloop/
.bsp/
.metals/
.vscode/
project/.bloop/
project/metals.sbt

#Cpauth DB
db/

#Security-specific
privateKeys/

#Large volatile files
src/main/resources/swamid-idps.xml

# Idea
.idea
/bin/
