<div class="container-xxl pb-5">
	<div class="row align-items-end justify-content-around pb-3">
		<div class="col-4 col-sm-3 col-md-2 p-2"><img class="img-fluid" alt="3 pilot cities" src="https://www.icos-cp.eu/sites/default/files/inline-images/1.%203%20pilot%20cities.png" /></div>
		<div class="col-4 col-sm-3 col-md-2 p-2"><img class="img-fluid" alt="15 countries" src="https://www.icos-cp.eu/sites/default/files/inline-images/2.%2013%20countries_0.png" /></div>
		<div class="col-4 col-sm-3 col-md-2 p-2"><img class="img-fluid" alt="15 cities" src="https://www.icos-cp.eu/sites/default/files/inline-images/3.%2015%20cities.png" /></div>
		<div class="col-4 col-sm-3 col-md-2 p-2"><img class="img-fluid" alt="30 scientific partners" src="https://www.icos-cp.eu/sites/default/files/inline-images/4.%2030%20scientific%20partner.png" /></div>
		<div class="col-4 col-sm-3 col-md-2 p-2"><img class="img-fluid" alt="13M€ funding" src="https://www.icos-cp.eu/sites/default/files/inline-images/5.%2013M%20funding.png" /></div>
		<div class="col-4 col-sm-3 col-md-2 p-2"><img class="img-fluid" alt="2021-2025" src="https://www.icos-cp.eu/sites/default/files/inline-images/6.%202021-2025.png" /></div>
	</div>

	<h6>
		<img alt="EU flag" class="ps-2 float-end" src="https://www.icos-cp.eu/sites/default/files/inline-images/eu-flag.png" />
		<span class="text-muted text-uppercase">PAUL, Pilot Applications in Urban Landscapes - Towards integrated city observatories for greenhouse gases (ICOS Cities), has received funding
		from the European Union’s Horizon 2020 Research and Innovation Programme under grant agreement No 101037319.</span>
	</h6>
</div>