@import se.lu.nateko.cp.viewscore._
@import eu.icoscp.envri.Envri

@(
	title: String,
)(customHeader: Html)(body: Html)(implicit envri: Envri)
@IcosPage(
	title,
	CpMenu.cities,
	CitiesStyleConfig,
	CitiesFooter(),
){
	<style>
		body {
			background: white;
		}
		#cp-header {
			height: 240px;
			background-position: bottom -8px center;
			background-repeat: no-repeat;
			background-size: 1300px auto;
			background-image: url("@{CitiesStyleConfig.headerImage}");
		}
	</style>
	@customHeader
}(body)
