@import views.CpMenuItem
@import views.CpMenu

@(title: String, menu: Seq[CpMenuItem] = CpMenu.default, cpauthHostOpt: Option[String] = None)(customHeader: Html)(body: Html)
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://static.icos-cp.eu/constant/bootstrap/3.3.4/css/bootstrap.min.css">

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	@if(menu.nonEmpty){
		<script type="application/javascript">
			window.addEventListener("load", function(){
				var menuGroups = document.getElementsByClassName("open_menu");

				for(var idx = 0; idx < menuGroups.length; idx++){
					var elem = menuGroups[idx];

					elem.addEventListener("click", function(event){
						event.target.parentElement.classList.toggle('open');
					});
				}

				@for(cpauthHost <- cpauthHostOpt){

					function ajaxGet(url, action){
						var xhr = new XMLHttpRequest();
						xhr.open("GET", url);
						xhr.send(null);

						xhr.onreadystatechange = function () {
							if (xhr.readyState === 4 && xhr.status === 200) {
								action(xhr);
							}
						};
					}

					ajaxGet('/whoami', function(xhr){
						var response = JSON.parse(xhr.response);

						if (response.email) {
							document.getElementById("logOutBtn").addEventListener('click', function(){
								ajaxGet('/logout', function(){
									window.location.reload(false);
								});
							});
							document.getElementById("accountBtn").addEventListener('click', function(){
								window.location = 'https://@(cpauthHost)/';
							});
							document.getElementById("loggedIn").style.display = 'inline';
						} else {
							document.getElementById("logInBtn").addEventListener('click', function(){
								window.location = 'https://@(cpauthHost)/login/?targetUrl=' + encodeURIComponent(window.location.href);
							});
							document.getElementById("loggedOut").style.display = 'inline';
						}
					});

				}
			});
		</script>
	}

	@customHeader

	<title>@title</title>

	@MasterStyle(menu.nonEmpty)

</head>

<body>
	<header id="cp-header">
		<div class="tint" >
			<a href="https://www.icos-cp.eu/" title="Home">
				<img src="https://www.icos-cp.eu/themes/cp_theme_d8/logo.svg" alt="Home">
			</a>
		</div>
	</header>

	<div id="cp-main-menu">
		@MainMenu(menu)
		@for(cpauthHost <- cpauthHostOpt){
			<ul>
				<li style="float: right;top: -37px;right: 0;margin: 3px 5px;background-color: inherit;">
					<span id="loggedOut" style="display: none;">
						<button id="logInBtn" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-log-in" style="margin-right: 5px;"></span>
							Log in
						</button>
					</span>

					<span id="loggedIn" style="display: none;">
						<button id="logOutBtn" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-log-out" style="margin-right: 5px;"></span>
							Log out
						</button>
						<button id="accountBtn" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>
							Carbon Portal Account
						</button>
					</span>
				</li>
			</ul>
		}
	</div>

	<div id="cp-main-content">
		<div class="container-fluid">
			@body
		</div>
	</div>

	@Footer()

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53530911-1', 'auto');
		ga('send', 'pageview');
	</script>

</body>
</html>
