@import views.CpMenuItem

@(title: String, menu: Seq[CpMenuItem] = Nil)(customHeader: Html)(body: Html)
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://static.icos-cp.eu/constant/bootstrap/3.3.4/css/bootstrap.min.css">

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	@if(menu.nonEmpty){
		<script>
			window.addEventListener("load", function(){
				var menuGroups = document.getElementsByClassName("open_menu");

				for(var idx = 0; idx < menuGroups.length; idx++){
					var elem = menuGroups[idx];

					elem.addEventListener("click", function(event){
						event.target.parentElement.classList.toggle('open');
					});
				}
			});
		</script>
	}

	@customHeader

	<title>@title</title>

	@MasterStyle(menu.nonEmpty)

</head>

<body>
	<header id="header">
		<div class="tint" >
			<a href="https://www.icos-cp.eu/" title="Home">
				<img src="https://www.icos-cp.eu/themes/cp_theme_d8/logo.svg" alt="Home">
			</a>
		</div>
	</header>

	<div id="cp_theme_d8_menu">
		@MainMenu(menu)
	</div>

	<div class="container-fluid">
		@body
	</div>

	@Footer()

</body>
</html>

