@import se.lu.nateko.cp.viewscore.IcosStyleConfig

@(includeMenu: Boolean, styleConf: IcosStyleConfig)
<style type="text/css">
	html {
		font-size: 14px;
	}

	body {
		background-color: #414042;
	}

	#cp-main-content{
		background: #fff;
		padding: 2rem 0 3rem;
	}

	h2:not(:first-child) {
		margin-top: 2rem;
	}

	/** Header **/
	#cp-header {
		background-size: cover;
		line-height: 0;
		background-image: url(@{styleConf.headerImage});
	}

	#cp-header img {
		margin: 22px 0 17px;
		max-height: 66px;
	}

	#cp-header .tint {
		background-color: rgba(10, 150, 240, 0.5);
	}

	#cp-header .layout-container {
		max-width: 1290px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	#cp-header #menu-button {
		margin: auto 20px;
		font-weight: bold;
		color: white;
		background: rgba(255, 255, 255, 0.3);
		font-size: 24px;
		border: 2px solid rgba(255, 255, 255, 0.1);
		line-height: 24px;
	}

	@@media all and (min-width: 800px) {
		#cp-header img {
			margin-left: 115px;
		}

		#cp-header #menu-button {
			display: none;
		}
	}

	/** Menu **/

	#cp-main-menu {
		background-color: #414042;
		display: none;
		@if(!includeMenu){
			height: 37px;
		}
	}

	#cp-main-menu.open {
		display: block;
	}

	@if(includeMenu){

		#cp-main-menu a {
			border-bottom: 1px dotted;
		}

		#cp-main-menu li {
			list-style: none;
			list-style-image: none;
			list-style-type: none;
		}

		#cp-main-menu .account {
			display: none;
			cursor: pointer;
		}

		#cp-main-menu .account a {
			display: block;
		}

		#cp-main-menu .is_topnode .menu-icon {
			float: right;
			height: 1.6em;
			cursor: pointer;
			padding-right: 20px;
			position: relative;
			top: 0.8em;
			color: white;
			font-size: 1.2em;
		}

		#cp-main-menu .submenu-icon {
			margin-left: 1em;
		}

		@@media all and (min-width: 800px) {
			#cp-main-menu {
				display: block;
			}

			#cp-main-menu ul {
				padding: 0em 0em 0em 0em;
				margin: 0;
				list-style: none;
				list-style-image: none;
				list-style-type: none;
				margin: 0em auto 0em auto;
				max-width: 1290px;
			}

			#cp-main-menu ul li {
				display: block;
				position: relative;
				float: left;
				background: #414042;
				z-index: 1001;
			}

			#cp-main-menu ul li a {
				display: flex;
				justify-content: space-between;
				padding: 0.6em;
				text-decoration: none;
				white-space: nowrap;
				color: #ffffff;
			}

			#cp-main-menu li ul {
				display: none;
			}

			#cp-main-menu li:hover li {
				float: none;
			}

			.cp_theme_d8_menu li ul li {
				border-top: 0;
			}

			#cp-main-menu ul ul ul {
				left: 100%;
				top: 0;
			}

			#cp-main-menu ul:before,
			#cp-main-menu ul:after {
				content: " ";
				display: table;
			}

			#cp-main-menu ul:after {
				clear: both;
			}

			#cp-main-menu .is_topnode .menu-icon {
				font-size: 1em;
				padding-right: 10px;
				top: 0.6em;
			}

			#cp-main-menu .account {
				float: right;
			}
		}

		@@media all and (max-width: 799px) {
			#cp-main-menu ul {
				padding: 0;
				margin: 0;
			}

			#cp-main-menu ul li {
				display: block;
				background: #414042;
			}

			#cp-main-menu li ul {
				display: none;
			}

			#cp-main-menu ul li a {
				display: block;
				padding: 1em;
				text-decoration: none;
				white-space: nowrap;
				color: #ffffff;
			}

			#cp-main-menu li.is_topnode ul,
			#cp-main-menu li.has_subnodes ul {
				margin-left: 2em;
			}

			#cp-main-menu .has_subnodes img {
				width: 0.8em;
				margin-left: 1em;
				margin-bottom: 0.2em;
			}
		}


		/** Hover menu **/

		@@media all and (min-width: 800px) {
			#cp-main-menu ul li a:hover,
			#cp-main-menu li:hover li a:hover {
				color: #ffffff;
			}

			#cp-main-menu .menu-item-text:hover,
			#cp-main-menu a:hover {
				background: #666468;
			}

			#cp-main-menu li:hover>ul {
				display: block;
				position: absolute;
				z-index: 1000;
			}

			#cp-main-menu a {
				border: 0;
			}

			#cp-main-menu a:focus {
				outline: 0;
			}

			#cp-main-menu .has_subnodes img {
				width: 1em;
				margin-left: 2em;
				margin-right: 1em;
				margin-bottom: 0.2em;
			}
		}

		@@media all and (max-width: 799px) {
			#cp-main-menu li.open ul {
				display: block;
			}
		}
	}

	/** Footer **/

	#cp-site-footer {
		max-width: 1290px;
		margin: auto;
		padding: 0 15px;
		background: #414042;
		word-wrap: break-word;
		box-sizing: border-box;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-flex-wrap: wrap;
	}
	#cp-site-footer .footer-box {
		margin: 35px 0 30px 0;
	}
	#cp-site-footer .footer-box a,
	#cp-site-footer .footer-box a.is-active {
		text-decoration: none;
	}

		@@media all and (min-width: 780px) {
				#cp-site-footer .region {
						width: 33%;
				}
	}

	#cp-site-footer h3 {
		color: #f2f2f2;
	}

	#cp-site-footer p {
		margin-top: 1em;
		color: #f2f2f2;
	}

	#cp-site-footer a.footer-link {
		color: #ffffff;
	}

	#cp-site-footer .region-footer-second a.footer-link,
	#cp-site-footer .region-footer-third a.footer-link {
		display: block;
		padding: 0.5rem 0px;
		margin-left: 1rem;
		position: relative;
		text-transform: uppercase;
	}

	#cp-site-footer a.footer-link:hover {
		color: #0A96F0;
	}

	#cp-site-footer a.footer-link::after {
		border-style: solid;
		border-color: transparent transparent transparent #ffffff;
		border-image: none;
		content: " ";
		height: 0px;
		width: 0px;
		position: absolute;
		pointer-events: none;
		border-width: 0.4rem;
		right: 100%;
		top: 50%;
		margin-top: -0.5rem;
	}

</style>
