@import se.lu.nateko.cp.viewscore._
@import se.lu.nateko.cp.viewscore.ImportVersions._
@import views.js.MainMenuJS
@import eu.icoscp.envri.Envri

@(
	title: String,
	menu: Seq[CpMenuItem],
	styleConf: IcosStyleConfig,
	footer: Html,
	bootstrapJavascript: Boolean = false,
)(customHeader: Html)(body: Html)(implicit envri: Envri)
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/png" href="https://static.icos-cp.eu/images/favicon.png"/>
	<link rel="stylesheet" href="https://static.icos-cp.eu/css/bootstrap/@{bootstrapCSS}/icos-bootstrap.css">
	<link rel="stylesheet" href="https://static.icos-cp.eu/constant/fontawesome/@{fontAwesome}/css/all.min.css">
	@IcosStyle(menu.nonEmpty, styleConf)

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	@if(menu.nonEmpty){
	<script>
		@Html(MainMenuJS().body)
	</script>
	}

	@customHeader

	<title>@title</title>

</head>

<body>
	<header id="cp-header">
		<div class="layout-container">
			<a href=@{styleConf.headerHomeLink} title="Home">
				<img src=@{styleConf.headerLogo} alt=@{styleConf.headerLogoName}>
			</a>
			<div class="header-links d-flex align-items-end flex-column justify-content-end pb-5 pe-3">
				<ul class="d-flex lh-base">
					<li class="header-link cart-link">
						<a><i class="fas fa-shopping-cart"></i> Cart
						<span class="badge rounded-pill bg-secondary">
							<span class="items-number">0</span>
							<span class="visually-hidden">items in cart</span>
						</span>
					</a>
					</li>
					<li class="header-link header-link-separator account-link">
						<a><i class="fas fa-user"></i> My Account</a>
					</li>
					<li class="header-link login-link">
						<a><i class="fas fa-sign-in-alt"></i> Log in</a>
					</li>
				</ul>
				<form method="get" action="https://www.icos-cp.eu/search/node" class="input-group">
					<input type="search" class="form-control" name="keys">
					<button class="btn btn-light border-0" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
			@if(menu.nonEmpty){
			<div id="menu-button" class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger"></span><i class="fas fa-bars"></i></div>
			}
		</div>
	</header>

	<div id="cp-main-menu">
		@MainMenu(menu)
	</div>

	<div id="cp-main-content">
		<div class="container-fluid">
			@body
		</div>
	</div>

	@footer

	@if(bootstrapJavascript){
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@@@{bootstrapJS}/dist/js/bootstrap.bundle.min.js"
			integrity="@{bootstrapJSIntegrity}"
			crossorigin="anonymous">
		</script>
	}

	<!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//matomo.icos-cp.eu/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '@{styleConf.matomoId}']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->

</body>
</html>
