@import se.lu.nateko.cp.viewscore._
@import se.lu.nateko.cp.viewscore.ImportVersions._
@import views.js.MainMenuJS
@import eu.icoscp.envri.Envri

@(
	title: String,
	menu: Seq[CpMenuItem],
	styleConf: IcosStyleConfig,
	footer: Html,
)(customHeader: Html)(body: Html)(implicit envri: Envri)
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/png" href="https://static.icos-cp.eu/images/favicon.png"/>
	<link rel="stylesheet" href="https://static.icos-cp.eu/css/bootstrap/@{bootstrapCSS}/icos-bootstrap.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v@{fontAwesome}/css/all.css">
	@IcosStyle(menu.nonEmpty, styleConf)
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@@3.0.1/dist/cookieconsent.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Matomo Tag Manager -->
	<script>
		var _mtm = window._mtm = window._mtm || [];
		_mtm.push({ 'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start' });
		(function () {
			var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
			g.async = true; g.src = 'https://matomo.icos-cp.eu/js/container_4oejbJ0i.js'; s.parentNode.insertBefore(g, s);
		})();
	</script>
	<!-- End Matomo Tag Manager -->

	@if(menu.nonEmpty){
	<script>
		@Html(MainMenuJS().body)
	</script>
	}

	@customHeader

	<title>@title | @{envri.shortName}</title>

</head>

<body>
	<a href="#main-content" class="visually-hidden-focusable">
		Skip to main content
		</a>
	<header id="cp-header">
		<div class="header d-flex justify-content-between py-3 px-4">
			<div class="header-left d-flex align-items-center">
				<a href=@{styleConf.headerHomeLink} title="Home" rel="home" class="navbar-brand">
					<img src=@{styleConf.headerLogo} alt=@{styleConf.headerLogoName} class="d-inline-block align-top">
				</a>
			</div>
			<div class="header-right d-flex align-items-center">
				<div class="d-none cart-link fs-sm header-link">
					<a><i class="fas fa-shopping-cart me-1"></i>Cart<div class="badge rounded-pill bg-secondary ms-1">
							<span class="items-number">0</span>
							<span class="visually-hidden">items in cart</span>
						</div>
					</a>
					<div class="mx-1 fs-sm">|</div>
				</div>
				<div class="d-none account-link fs-sm header-link">
					<a><i class="fas fa-user me-1"></i>My Account</a>
				</div>
				<div class="d-none login-link fs-sm header-link">
					<a><i class="fas fa-sign-in-alt me-1"></i>Log in</a>
				</div>
				<form action="@(CpMenu.cpHome)/search" method="get" id="search-block-form" class="input-group w-auto" accept-charset="UTF-8">
					<input type="search" id="edit-keys" name="q" class="form-search form-control">
					<button class="btn btn-light border-0" type="submit" id="edit-submit"><i class="fas fa-search"></i></button>
				</form>
				@if(menu.nonEmpty){
					<nav class="navbar mobile py-0">
						<div class="container-fluid">
						<button class="navbar-toggler rounded" id="menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsing-navbar" aria-controls="collapsing-navbar" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						</div>
					</nav>
				}
			</div>
		</div>
	</header>

	<nav class="navbar navbar-dark navbar-expand-lg border-top border-bottom py-0" id="navbar-main">
		<div id="collapsing-navbar" class="collapse navbar-collapse">
			<nav role="navigation" class="navigation menu--main">
				<h2 class="visually-hidden">Main navigation</h2>
				<div id="cp_theme_d10_menu" class="layout-container">
					@MainMenu(menu)
				</div>
			</nav>
		</div>
	</nav>

	<main class="py-4">
		<div class="container-fluid">
			@body
		</div>
	</main>

	@footer

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@@@{bootstrapJS}/dist/js/bootstrap.bundle.min.js"
		integrity="@{bootstrapJSIntegrity}"
		crossorigin="anonymous">
	</script>

	<script type="module" src="https://static.icos-cp.eu/share/cookie-consent/cookieconsent-config.js"></script>

</body>
</html>
