@()
<style type="text/css">
  body {
		line-height: 1.42857143;
		color: #333;
		font-family: "Open Sans",sans-serif !important;
	}

	a,
	.btn-link {
    color: #0a96f0;
	}

	a:hover,
	a:focus,
	a:active {
    color: #0769A8;
	}

  .btn-primary,
	.btn-primary.disabled,
	.btn-primary.disabled:hover,
	.btn-primary:disabled {
		background-color: #0a96f0;
		border-color: #0089E3;
	}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active {
		background: #007DD7;
		border-color: #0070CA;
	}

	.btn-primary .badge {
		color: #0a96f0;
	}

  #cp-site-footer {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	#cp-site-footer .footer-box {
		border: 0;
		padding: 0px, 100px, 0px, 100px;
		color: rgba(255,255,255,0.65);
		font-size: 0.857em;
		word-wrap: break-word;
	}

  #cp-site-footer .footer-box a,
	#cp-site-footer .footer-box a.is-active {
		color: #0A96F0;
		border: 0;
	}

  #cp-site-footer h3 {
		font-size: 2.2rem;
	}

	#cp-site-footer p {
		font-size: 1.5rem;
	}

	#cp-site-footer a.footer-link {
		font-size: 1.5rem;
		cursor: pointer;
	}

	#cp-site-footer .region-footer-second a.footer-link,
	#cp-site-footer .region-footer-third a.footer-link {
		color: #ffffff;
		font-size: 1.4rem;
		cursor: pointer;
	}

  #cp-site-footer a.footer-link::after {
		border-width: 0.7rem;
	}
</style>