@import views.CpMenuItem
@import views.CpMenuLeaf
@import views.CpMenuGroup
@import views.CpMenu.cpHome
@import java.net.URI

@(menuItems: Seq[CpMenuItem])
@subMenu(menuItems, true)

@subMenu(menuItems: Seq[CpMenuItem], isTop: Boolean = false) = {
	@if(!menuItems.isEmpty){
		<ul>
			@for(item <- menuItems){
				@menuItem(item, isTop)
			}
			@if(isTop){
				<li id="accountLnk" class="account">
					<a><span class="glyphicon glyphicon-user"></span> My Carbon Portal Account</a>
				</li>
				<li id="logOutLnk" class="account">
					<a><span class="glyphicon glyphicon-log-out"></span> Log out</a>

				</li>
				<li id="logInLnk" class="account">
					<a><span class="glyphicon glyphicon-log-in"></span> Log in</a>
				</li>
			}

		</ul>
	}
}

@menuItem(item: CpMenuItem, isTop: Boolean) = {
	<li class="@itemClass(item, isTop)">
		@item match{
			case CpMenuGroup(label, children) => {
				@if(isTop){
					<img src="https://www.icos-cp.eu/themes/cp_theme_d8/images/arrow-up-down.svg" class="open_menu" title="Open/Close"/>
				}
				<a>
					@label
					@if(!isTop){
						<img src="https://www.icos-cp.eu/themes/cp_theme_d8/images/arrow-down.svg">
					}
				</a>
				@subMenu(children)
			}
			case CpMenuLeaf(label, ref) => {
				<a href="@link(ref)">@label</a>
			}
		}
	</li>
}

@itemClass(item: CpMenuItem, isTop: Boolean) = @{
	item match {
		case CpMenuLeaf(_, _) => null
		case CpMenuGroup(_, _) => if(isTop) "is_topnode" else "has_subnodes"
	}
}

@link(uri: URI) = @{
	(if(uri.isAbsolute) "" else cpHome) + uri.toString
}

