@import se.lu.nateko.cp.viewscore._
@import CpMenu.cpHome
@import java.net.URI

@(menuItems: Seq[CpMenuItem])
@if(!menuItems.isEmpty){
	<ul>
		@for(item <- menuItems){
			@menuItem(item, true)
		}
		<li id="accountLnk" class="account">
			<a><i class="fas fa-user"></i> My Account</a>
		</li>
		<li id="cartLink" class="account">
			<a><i class="fas fa-shopping-cart"></i> Cart</a>
		</li>
		<li id="logInLnk" class="account">
			<a><i class="fas fa-sign-in-alt"></i> Log in</a>
		</li>

	</ul>
}


@menuItem(item: CpMenuItem, isTop: Boolean) = {
	@defining(!item.children.isEmpty){ hasChildren =>
	<li class="@itemClass(hasChildren, isTop)">
		@if(isTop && hasChildren) {
		<div class="menu-item-text">
			<span class="open_menu menu-icon">
				<i class="fas fa-chevron-down"></i>
			</span>
			@anchor(item, isTop, hasChildren)
		</div>
		} else {
			@anchor(item, isTop, hasChildren)
		}
		@if(hasChildren) {
			<ul>
			@for(item <- item.children){
				@menuItem(item, false)
			}
			</ul>
		}
	</li>
	}
}

@anchor(item: CpMenuItem, isTop: Boolean, hasChildren: Boolean) = {
	<a href="@link(item.url)">
		@item.title
		@if(!isTop && hasChildren) {
		<span class="open_menu submenu-icon">
			<i class="fas fa-chevron-right"></i>
		</span>
		}
	</a>
}

@itemClass(isTop: Boolean, hasChildren: Boolean) = @{
	if(isTop && hasChildren) "is_topnode"
}

@link(uri: String) = @{
	if(uri.startsWith("https://") || uri.startsWith("http://")) uri else cpHome + uri
}

