@import se.lu.nateko.cp.viewscore._
@import CpMenu.cpHome

@(menuItems: Seq[CpMenuItem])
@if(!menuItems.isEmpty){
	<div class="nav navbar-nav justify-content-center px-4">
		@for(item <- menuItems){
			@menuItem(item, 0, "")
		}
		<div class="d-none cart-link menu-link mobile text-dark py-2 px-3 w-100">
			<a><i class="fas fa-shopping-cart me-1"></i>Cart<div class="badge rounded-pill bg-secondary ms-1">
					<span class="items-number">0</span>
					<span class="visually-hidden">items in cart</span>
				</div>
			</a>
		</div>
		<div class="d-none account-link menu-link mobile text-dark py-2 px-3 w-100">
			<a><i class="fas fa-user me-2"></i>My Account</a>
		</div>
		<div class="d-none login-link menu-link mobile text-dark py-2 px-3 w-100">
			<a><i class="fas fa-sign-in-alt me-1"></i>Log in</a>
		</div>
	</div>
}


@menuItem(item: CpMenuItem, depth: Int, lastLevel2Url: String) = {
	@defining(!item.children.isEmpty){ hasChildren =>
	@defining(depth == 2 && lastLevel2Url.nonEmpty && item.url == lastLevel2Url){ hideLink =>
	<div class="@itemClass(depth, hasChildren)">
		@if(depth == 0) {
			@if(hasChildren) {
			<div class="drop-down-toggle text-dark py-2 px-3 w-100 d-flex justify-content-center top-link" role="button" tabindex="0">
				<div>@item.title <span class="open-menu menu-icon"><i class="fas fa-chevron-down"></i></span></div>
			</div>
			} else {
			<a href="@link(item.url)" class="text-dark py-2 px-3 w-100 d-flex justify-content-center top-link">
				<div>@item.title</div>
			</a>
			}
		} else if(depth >= 2) {
			@if(hideLink) {
			<div class="text-dark fw-semibold pt-3 pb-3 user-select-none">&nbsp;</div>
			} else if(depth == 2) {
			<a href="@link(item.url)" class="text-dark fw-semibold pt-3 pb-3">@item.title</a>
			} else {
			<a href="@link(item.url)" class="text-secondary pt-1 pb-2">@item.title</a>
			}
		}
		@if(hasChildren) {
			@if(depth == 0) {
				@defining(("" +: item.children.map(_.children.headOption.map(_.url).getOrElse("")).dropRight(1))){ prevUrls =>
				<div class="dropdown-menu pt-3 pb-4 border rounded-0 justify-content-between">
				@for((child, prevUrl) <- item.children.zip(prevUrls)){
					@menuItem(child, 1, prevUrl)
				}
				</div>
				}
			} else if(depth == 1) {
				@for(child <- item.children){
					@menuItem(child, 2, lastLevel2Url)
				}
			} else {
				@for(child <- item.children){
					@menuItem(child, depth + 1, "")
				}
			}
		}
	</div>
	}
	}
}

@itemClass(depth: Int, hasChildren: Boolean) = @{
	val base = depth match {
		case 0 => Seq(if(hasChildren) "top-node" else "", "flex-grow-1")
		case 1 => Seq("menu-col")
		case _ => Seq("list-item")
	}
	(base :+ s"menu-level-$depth").filter(_.nonEmpty).mkString(" ")
}

@link(uri: String) = @{
	if(uri.startsWith("https://") || uri.startsWith("http://")) uri else cpHome + uri
}

