@import se.lu.nateko.cp.viewscore.IcosStyleConfig

@(includeMenu: Boolean, styleConf: IcosStyleConfig)
<style type="text/css">
	/** Body **/
	body {
		background-color: #414042;
		font-size: 14px;
		line-height: 1.42857143;
		color: #333;
		font-family: "Open Sans",sans-serif !important;
	}

	a,
	.btn-link {
		color: #0a96f0;
	}

	a:hover,
	a:focus,
	a:active {
		color: #0769A8;
	}

	#cp-main-content{
		background: #fff;
		padding-bottom: 40px;
	}

	.btn-primary,
	.btn-primary.disabled,
	.btn-primary.disabled:hover,
	.btn-primary:disabled {
		background-color: #0a96f0;
		border-color: #0089E3;
	}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active {
		background: #007DD7;
		border-color: #0070CA;
	}

	.btn-primary .badge {
		color: #0a96f0;
	}

	.label-keyword {
		display: inline-block;
		margin-bottom: 5px;
		line-height: 1.4;
		font-size: 85%;
		padding-top: 0.4em;
		background-color: #81898f;
		border-radius: 20px;
	}

	/** Header **/
	#cp-header {
		background-size: cover;
		line-height: 0;
		background-image: url(@{styleConf.headerImage});
	}

	#cp-header img {
		margin: 22px 0 17px;
		max-height: 66px;
	}

	#cp-header .tint {
		background-color: rgba(10, 150, 240, 0.5);
	}

	#cp-header .layout-container {
		max-width: 1290px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	#cp-header #menu-button {
		margin: auto 20px;
		font-weight: bold;
		color: white;
		background: rgba(255, 255, 255, 0.3);
		font-size: 24px;
		border: 2px solid rgba(255, 255, 255, 0.1);
		line-height: 24px;
	}

	@@media all and (min-width: 800px) {
		#cp-header img {
			margin-left: 115px;
		}

		#cp-header #menu-button {
			display: none;
		}
	}

	/** Menu **/

	#cp-main-menu {
		background-color: #414042;
		display: none;
		@if(!includeMenu){
			height: 37px;
		}
	}

	#cp-main-menu.open {
		display: block;
	}

	@if(includeMenu){

		#cp-main-menu a {
			border-bottom: 1px dotted;
		}

		#cp-main-menu li {
			list-style: none;
			list-style-image: none;
			list-style-type: none;
		}

		#cp-main-menu .account {
			display: none;
			cursor: pointer;
		}

		#cp-main-menu .account a {
			display: block;
		}

		#cp-main-menu .is_topnode .menu-icon {
			float: right;
			height: 1.6em;
			cursor: pointer;
			padding-right: 20px;
			position: relative;
			top: 0.8em;
			color: white;
			font-size: 1.2em;
		}

		#cp-main-menu .submenu-icon {
			margin-left: 1em;
		}

		@@media all and (min-width: 800px) {
			#cp-main-menu {
				display: block;
			}

			#cp-main-menu ul {
				padding: 0em 0em 0em 0em;
				margin: 0;
				list-style: none;
				list-style-image: none;
				list-style-type: none;
				margin: 0em auto 0em auto;
				max-width: 1290px;
			}

			#cp-main-menu ul li {
				display: block;
				position: relative;
				float: left;
				background: #414042;
				z-index: 1001;
			}

			#cp-main-menu ul li a {
				display: flex;
				justify-content: space-between;
				padding: 0.6em;
				text-decoration: none;
				white-space: nowrap;
				color: #ffffff;
			}

			#cp-main-menu li ul {
				display: none;
			}

			#cp-main-menu li:hover li {
				float: none;
			}

			.cp_theme_d8_menu li ul li {
				border-top: 0;
			}

			#cp-main-menu ul ul ul {
				left: 100%;
				top: 0;
			}

			#cp-main-menu ul:before,
			#cp-main-menu ul:after {
				content: " ";
				display: table;
			}

			#cp-main-menu ul:after {
				clear: both;
			}

			#cp-main-menu .is_topnode .menu-icon {
				font-size: 1em;
				padding-right: 10px;
				top: 0.6em;
			}

			#cp-main-menu .account {
				float: right;
			}
		}

		@@media all and (max-width: 799px) {
			#cp-main-menu ul {
				padding: 0;
				margin: 0;
			}

			#cp-main-menu ul li {
				display: block;
				background: #414042;
			}

			#cp-main-menu li ul {
				display: none;
			}

			#cp-main-menu ul li a {
				display: block;
				padding: 1em;
				text-decoration: none;
				white-space: nowrap;
				color: #ffffff;
			}

			#cp-main-menu li.is_topnode ul,
			#cp-main-menu li.has_subnodes ul {
				margin-left: 2em;
			}

			#cp-main-menu .has_subnodes img {
				width: 0.8em;
				margin-left: 1em;
				margin-bottom: 0.2em;
			}
		}


		/** Hover menu **/

		@@media all and (min-width: 800px) {
			#cp-main-menu ul li a:hover,
			#cp-main-menu li:hover li a:hover {
				color: #ffffff;
			}

			#cp-main-menu .menu-item-text:hover,
			#cp-main-menu a:hover {
				background: #666468;
			}

			#cp-main-menu li:hover>ul {
				display: block;
				position: absolute;
				z-index: 1000;
			}

			#cp-main-menu a {
				border: 0;
			}

			#cp-main-menu a:focus {
				outline: 0;
			}

			#cp-main-menu .has_subnodes img {
				width: 1em;
				margin-left: 2em;
				margin-right: 1em;
				margin-bottom: 0.2em;
			}
		}

		@@media all and (max-width: 799px) {
			#cp-main-menu li.open ul {
				display: block;
			}
		}
	}

	/** Footer **/

	#cp-site-footer {
		max-width: 1290px;
		margin: auto;
		padding: 0 15px;
		background: #414042;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		word-wrap: break-word;
		box-sizing: border-box;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-flex-wrap: wrap;
	}
	#cp-site-footer .footer-box {
		border: 0;
		padding: 0px, 100px, 0px, 100px;
		margin: 35px 0 30px 0;
		color: rgba(255,255,255,0.65);
		font-size: 0.857em;
		word-wrap: break-word;
	}
	#cp-site-footer .footer-box a,
	#cp-site-footer .footer-box a.is-active {
		color: #0A96F0;
		text-decoration: none;
		border: 0;
	}

		@@media all and (min-width: 780px) {
				#cp-site-footer .region {
						width: 33%;
				}
	}

	#cp-site-footer h3 {
		font-size: 2.2rem;
		color: #f2f2f2;
	}

	#cp-site-footer p {
		margin-top: 1em;
		font-size: 1.5rem;
		color: #f2f2f2;
	}

	#cp-site-footer a.footer-button {
		background-color: #BD7931;
		font-size: 1.4rem;
		color: #FFF;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		border: medium none;
		cursor: pointer;
		padding: 1.6rem 6rem;
		margin: 1rem 1rem 1rem 0px;
		border-radius: 0.2rem;
		background-clip: padding-box;
	}

	#cp-site-footer .region-footer-first a.footer-link {
		color: #ffffff;
		font-size: 1.5rem;
		cursor: pointer;
	}

	#cp-site-footer .region-footer-second a.footer-link,
	#cp-site-footer .region-footer-third a.footer-link {
		color: #ffffff;
		font-size: 1.4rem;
		display: block;
		cursor: pointer;
		padding: 0.5rem 0px;
		margin-left: 1rem;
		position: relative;
		text-transform: uppercase;
	}

	#cp-site-footer a.footer-link:hover {
		color: #0A96F0;
	}

	#cp-site-footer a.footer-link::after {
		border-style: solid;
		border-color: transparent transparent transparent #ffffff;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		content: " ";
		height: 0px;
		width: 0px;
		position: absolute;
		pointer-events: none;
		border-width: 0.7rem;
		right: 100%;
		top: 50%;
		margin-top: -0.5rem;
	}

</style>
