@()
<style type="text/css">
	/** Body **/
	body {
		background-color: #fff !important;
		font-size: 14px;
		line-height: 1.42857143;
		color: #333;
		font-family: "Open Sans",sans-serif !important;
	}

	/** Header **/
	#header {
		background-size: cover;
		background-image: url(https://www.icos-cp.eu/themes/cp_theme_d8/images/icos-cp_header_small.gif);
	}

	@@media all and (min-width: 513px) {
		#header {
			background-image: url(https://www.icos-cp.eu/themes/cp_theme_d8/images/icos-cp_header_medium.gif);
		}
	}

	@@media all and (min-width: 1025px) {
		#header {
			background-image: url(https://www.icos-cp.eu/themes/cp_theme_d8/images/icos-cp_header.gif);
		}
	}

	#header {
		line-height: 0;
	}

	#header .tint {
		background-color: rgba(240, 99, 34, 0.3);
	}

	/** Menu **/

	.hasImage {}
	.hidden_menu {
		display: none;
	}

	#cp_theme_d8_menu li {
		list-style: none;
		list-style: none;
		list-style-image: none;
		list-style-type: none;
	}
	@@media all and (min-height: 500px) {
		#filler {
			background-color: #414042;
			height: 150px;
		}
	}		
	@@media all and (min-height: 800px) {
		#filler {
			background-color: #414042;
			height: 340px;
		}
	}
	@@media all and (min-width: 800px) {
		#cp_theme_d8_menu {
			background-color: #414042;
			height: 37px;	
		}
		#header img {
			height: 125x;
			padding-left: 428px;
			padding-top: 22px;
			padding-bottom: 18px;
		}			

		#cp_theme_d8_menu ul {
			padding: 0em 0em 0em 0em;
			margin: 0;
			list-style: none;
			list-style-image: none;
			list-style-type: none;
			margin: 0em auto 0em auto;
			max-width: 1290px;
			
		}

		#cp_theme_d8_menu ul li {
			display: block;
			position: relative;
			float: left;
			background: #414042;
		}

		#cp_theme_d8_menu li ul {
			display: none;
		}

		#cp_theme_d8_menu ul li a {
			display: block;
			padding: 0.6em;
			text-decoration: none;
			white-space: nowrap;
			color: #ffffff;
			height: 37px;
			font-size: 14px;
			line-height: 1.42857143;
		}

		#cp_theme_d8_menu ul li a:hover,
		#cp_theme_d8_menu li:hover li a:hover {
			color: #ffffff;
		}

		#cp_theme_d8_menu li:hover a {
			background: #414042;
		}

		#cp_theme_d8_menu li:hover a:hover,
		#cp_theme_d8_menu li:hover li a:hover {
			background: #666468;
		}

		#cp_theme_d8_menu li:hover > ul {
			display: block;
			position: absolute;
			z-index: 1000;
		}

		#cp_theme_d8_menu li:hover li {
			float: none;
		}

		.cp_theme_d8_menu li ul li {
			border-top: 0;
		}

		#cp_theme_d8_menu ul ul ul {
			left: 100%;
			top: 0;
		}

		#cp_theme_d8_menu ul:before,
		#cp_theme_d8_menu ul:after {
			content: " ";
			display: table;
		}

		#cp_theme_d8_menu ul:after {
			clear: both;
		}

		#cp_theme_d8_menu a:link {
			border: 0;
		}

		#cp_theme_d8_menu a:focus {
			outline: 0;
		}

		#cp_theme_d8_menu .has_subnodes img {
			width: 1em;
			margin-left: 2em;
			margin-right: 1em;
			margin-bottom: 0.2em;
		}

		#cp_theme_d8_menu .is_topnode .open_menu {
			display: none;
		}

		.layout-container {
			max-width: 1290px;
			margin: auto;;
			padding: 0 15px;
			word-wrap: break-word;
			box-sizing: border-box;
		}
	}

	@@media all and (max-width: 799px) {
		#cp_theme_d8_menu {
			background-color: #414042;	
		}

		#header img {
			height: 125px;
			padding-left: 122px;
			padding-top: 22px;
			padding-bottom: 18px;
		}

		#cp_theme_d8_menu ul {
			padding: 0;
			margin: 0;
		}

		#cp_theme_d8_menu ul li {
			display: block;
			background: #414042;
		}

		#cp_theme_d8_menu li ul {
			display: none;
		}

		#cp_theme_d8_menu li.open ul {	
			display: block;
		}

		#cp_theme_d8_menu ul li a {
			display: block;
			padding: 1em;
			text-decoration: none;
			white-space: nowrap;
			color: #ffffff;
			font-size: 14px;
			line-height: 1.42857143;
		}

		#cp_theme_d8_menu li.is_topnode ul,
		#cp_theme_d8_menu li.has_subnodes ul {
			margin-left: 2em;
		}

		#cp_theme_d8_menu .has_subnodes img {
			width: 0.8em;
			margin-left: 1em;
			margin-bottom: 0.2em;
		}

		#cp_theme_d8_menu .is_topnode .open_menu {
			float: right;
			height: 1.6em;
			cursor: pointer;
			padding-left: 50px;
			padding-right: 50px;
			position: relative;
			top: 0.8em;
			max-width: 100%;
			font-size: 14px;
			line-height: 1.42857143;
			color: #333;
		}
		#cp_theme_d8_menu a {
			border-color: white;
			border-bottom: dotted;
			border-width: 1px;
		}

		
		#cp_theme_d8_menu a:hover {
			border-bottom: solid;
			border-width: 1px;
			border-color: white;
		}
	}

	#cp_theme_d8_menu_breadcrumbs {
		background-color: #ffffff;
	}

	#cp_theme_d8_menu_breadcrumbs li {
		list-style: none;
		list-style-image: none;
		list-style-type: none;
		display: inline;
	}

	#cp_theme_d8_menu_breadcrumbs a {
		text-decoration: none;
		padding: 0.4em 0.4em 0.4em 0em;
		border: 0;
		color: #414042;
	}

	#cp_theme_d8_menu_breadcrumbs span {
		padding: 0em 0.4em 0em 0em;
		color: #414042;
	}
	.container-fluid{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.content{
		margin-top: 0;
		color: rgba(255,255,255,0.65);
		font-size: 0.857em;
	}
	.hidden_footer {
		display: none;
	}
	.site-footer {
		padding: 0;
		background: #414042;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	.site-footer__top {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;

		display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-flex-wrap: wrap;
		-webkit-align-items: center;
	}
	.region-footer-first {
		order:	1;
	}
	
	.region-footer-second {
		order:	2;
	}

	.region-footer-third {
		order:	3;
	}

	.site-footer__top .region,
	.region-footer-first, 
	.region-footer-second,
	.region-footer-third {
		width: 33%;
		padding: 0 0.65%;
	}

	.region-footer-first,
	.region-footer-second,
	.region-footer-third {
		min-width: 235px;
	}

	.region-footer-first h3,
	.region-footer-second h3,
	.region-footer-third h3 {
		font-size: 2.2rem;
		color: #f2f2f2;
	}

	.region-footer-first p,
	.region-footer-second p,
	.region-footer-third p {
		font-size: 1.5rem;
		color: #f2f2f2;
	}

	.site-footer .content a,
	.site-footer .content a.is-active {
		color: #0A96F0;
		text-decoration: none;
		border: 0;
	}

	.site-footer .block {
		border: 0;
		padding: 0;
		margin: 20px 0;
		word-wrap: break-word;
	}
	
	.region-footer-second a.footer-button {
		background-color: #0A96F0;
		font-size: 1.4rem;
		color: #FFF;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		border: medium none;
		cursor: pointer;
		padding: 1.6rem 6rem;
		margin: 1rem 1rem 1rem 0px;
		border-radius: 0.2rem;
		background-clip: padding-box;
	}

	.region-footer-first a.footer-link {
		color: #ffffff;
		font-size: 1.5rem;
		cursor: pointer;
	}

	.region-footer-second a.footer-link,
	.region-footer-third a.footer-link {
		color: #ffffff;
		font-size: 1.4rem;
		display: inline-block;
		cursor: pointer;
		padding: 0.5rem 0px;
		margin-left: 1rem;
		position: relative;
		text-transform: uppercase;
	}

	.region-footer-first a.footer-link:hover,
	.region-footer-second a.footer-link:hover,
	.region-footer-third a.footer-link:hover {
		color: #0A96F0;
	}

	.region-footer-second a.footer-link::after,
	.region-footer-third a.footer-link::after {
		border-style: solid;
		border-color: transparent transparent transparent #ffffff;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		content: " ";
		height: 0px;
		width: 0px;
		position: absolute;
		pointer-events: none;
		border-width: 0.7rem;
		right: 100%;
		top: 50%;
		margin-top: -0.5rem;	
	}
	.inline-box {
		display: inline-block;
		height: 300px;
	}
	.padded-box{
		padding: 0px, 100px, 0px, 100px;
	}
	.padded-top{
		padding-top: 55px; 
	}
	
</style>

