@()
<style>
	:root {
		--sites-green: #61AB43;
		--sites-gray: #43474B;
	}

	body {
		font-family: "SourceSansPro", sans-serif;
		font-size: 16px;
		background-color: var(--sites-gray);
	}

	a,
	.btn-link {
		color: #3C8CA5;
	}

	a:hover,
	a:focus,
	a:active {
		color: #2F7F98;
	}

	h2:not(:first-child) {
		margin-top: 2rem;
	}

	.btn-primary,
	.btn-primary.disabled,
	.btn-primary:disabled {
		background-color: #55A5BE;
		border-color: #3C8CA5;
	}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active {
		background: #3C8CA5;
		border-color: #2F7F98;
	}

	.btn-primary .badge {
		color: #55A5BE;
	}

	.header {
		position: relative;
		margin: 0 auto;
		padding: 1rem 0;
		background: var(--sites-gray);
		border-top: 8px solid var(--sites-green);
	}

	.menu {
		bottom: 0;
	}

	.menu-content ul {
		padding: 0 1rem;
	}

	.nav-item.account {
		display: none;
	}

	.menu-content-right .badge {
		vertical-align: 1px;
	}

	.primary-nav-menu-item-has-children {
		position: relative;
	}

	.primary-nav-menu-item-has-children.open .navbar-nav {
		display: block;
	}

	.header .nav-link {
		color: rgba(255,255,255,0.85);
		cursor: pointer;
	}

	@@media all and (max-width: 980px) {
		.primary-nav-menu-item-has-children > .nav-link::after {
			float: right;
		}
		.primary-nav-menu-item-has-children .navbar-nav {
			padding-left: 2rem;
		}
		.dropdown-item:hover,
		.dropdown-item:focus {
			background-color: transparent;
		}
	}

	@@media all and (min-width: 980px) {
		.primary-nav-menu-item-has-children:hover .navbar-nav {
			display: block;
		}
		.primary-nav-menu-item-has-children .navbar-nav {
			position: absolute;
		}
		.primary-nav-menu-item-has-children .navbar-nav {
			box-shadow: 0 1px 36px rgba(0, 0, 0, 0.08);
			z-index: 2;
			min-width: 150px;
		}

		.primary-nav-menu-item-has-children>.nav-link::after {
			font-family: "Font Awesome 5 Free";
			content: "\f078";
			font-size: 0.7rem;
			font-weight: 900;
			margin: 0 0.3rem;
		}

		.primary-nav-menu-item-has-children .navbar-nav {
			display: none;
		}
	}

	.site-footer {
		background: var(--sites-gray);
		padding: 2rem 0;
		color: white;

		& .region {
			padding: 0 0 1rem;
		}

		& h2 {
			font-size: 1.75rem;
			margin-top: 0;
			padding: 1rem 0 0.5rem;
		}

		& p {
			margin-bottom: 0.5rem;
		}
	}

	.marked-link:before {
		font-family: "Font Awesome 5 Free";
		content: "\f105";
		font-weight: 900;
		margin: 0 0.3rem;
		color: white;
	}

</style>
