@import views.js.MainMenuJS

@(title: String)(customHeader: Html)(body: Html)
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="//static.icos-cp.eu/images/sites-favicon.ico">
  <link rel="stylesheet" href="//static.icos-cp.eu/constant/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//static.icos-cp.eu/css/fonts/source-sans-pro.css">

  @SitesStyle()

  <script type="application/javascript">
  @Html(MainMenuJS(Some("auth.fieldsites.se")).body)
  </script>

  @customHeader

  <title>@title | SITES</title>

</head>

<body>
  <header class="header">
    <div class="logo">
      <img src="https://static.icos-cp.eu/images/sites-logo.jpg">
    </div>
    <nav class="menu">
      <ul class="menu-content">
        <li><a href="//data.fieldsites.se">Data</a></li>
        <li>
          <ul class="menu-content-right">
            <li id="accountLnk" class="account">
              <a><span class="glyphicon glyphicon-user"></span> My Account</a>
            </li>
            <li id="logOutLnk" class="account">
              <a><span class="glyphicon glyphicon-log-out"></span> Log out</a>
            </li>
            <li id="logInLnk" class="account">
              <a><span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="page sites-page">
    <div id="main-content">
      @body
    </div>
  </div>

  <div class="footer">
    <p>SITES (Swedish Infrastructure for Ecosystem Science) is a national coordinated infrastructure for terrestrial and limnological field research. SITES is funded by the Swedish Research Council and the five responsible universities where Abisko Scientific Research Station, Erken Laboratory and the field research stations at Tarfala, Svartberget, Röbäcksdalen, Grimsö, Lönnstorp, Asa and Skogaryd participates. Swedish University of Agricultural Sciences is the coordinator.&nbsp;</p>
    <p>• VAT nr: SE202100281701.&nbsp;• info@@fieldsites.se</p>
    <p>Copyright © @{java.time.Year.now.getValue}</p>
  </div>

</body>

</html>
