@CpPageTemplate("Manage Carbon Portal accounts"){
	<link rel="stylesheet" type="text/css" href="https://static.icos-cp.eu/css/style.css">
	<script src="https://static.icos-cp.eu/constant/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="administration.js"></script>
}{
	<div class="page-header">
		<h1>ICOS Carbon Portal Administration <small>Manage accounts here</small></h1>
	</div>

	<div class="row">

		<ul class="nav nav-tabs" role="tablist">

			<li role="presentation" class="col-xs-12 col-sm-2">
				<a href="#new" aria-controls="new" role="tab" data-toggle="tab" id="new-butt">
					Create a new account
				</a>
			</li>

			<li role="presentation" class="col-xs-12 col-sm-2">
				<a href="#edit" aria-controls="edit" role="tab" data-toggle="tab" id="list-accounts-butt">
					Edit accounts
				</a>
			</li>

			<li class="col-sm-8"></li>
		</ul>

	</div>

	<div class="row">

		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="new">
				<div class="panel panel-default">
					<div class="panel-body">

						<div id="new-message-error" style="display: hidden"></div>

						<form id="new-account">
							<div class="form-group required">
								<label for="givenName" class="control">Givenname:</label>
								<input id="givenName" name="givenName" type="text" class="form-control" placeholder="Enter givenname" />
							</div>
							<div class="form-group required">
								<label for="surname" class="control">Surname:</label>
								<input id="surname" name="surname" type="text" class="form-control" placeholder="Enter surname" />
							</div>

							<div class="form-group required">
								<label for="mail" class="control">Email:</label>
								<input id="mail" name="mail" type="email" class="form-control" placeholder="Enter email" />
							</div>

							<div class="form-group required">
								<label for="password" class="control">Password:</label>
								<input id="password" name="password" type="password" class="form-control" placeholder="Password" />
							</div>

							<button type="button" class="btn btn-default" onClick="createNewAccount()">Create!</button>

						</form>

						<br/>
						<div id="new-message-success" style="display: hidden"></div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="edit">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="edit-message-error" style="display: hidden"></div>

						<div id="list-accounts"></div>

					</div>
				</div>
			</div>

		</div>
	</div>
}

