@import java.net.URI

@(email: String, link: URI)
@CpEmail("Labeling application submited"){
	<table  style="font-size: 12pt">
		<tr>
			<td style="padding-bottom:20px;">Dear @{email},</td>
		</tr>
		<tr>
			<td>Carbon Portal has received a request to create an account for you, or initiate a password reset for you.</td>
		</tr>
		<tr>
			<td>If you are not interested in any of these procedures, you can safely ignore this email.</td>
		</tr>
		<tr>
			<td>Otherwise, Please go to the <a href="@{link.toString}">Carbon Portal authentication service</a> to set the password.</td>
		</tr>
	</table>
}