@import java.net.URI

@(email: String, link: URI)
@CpEmail("Labeling application submited"){
	<table  style="font-size: 12pt">
		<tr>
			<td style="padding-bottom:20px;">Dear @{email},</td>
		</tr>
		<tr>
			<td>Carbon Portal has received a request to create an account for you, or initiate a password reset for you.</td>
		</tr>
		<tr>
			<td>If you are not interested in any of these procedures, you can safely ignore this email.</td>
		</tr>
		<tr>
			<td>Otherwise, please click <a target="_blank" href="@{link.toString}">here</a> to create/reset your password with the Carbon Portal authentication service.</td>
		</tr>
	</table>
}