@import views.CpMenu

@(title: String, subheading: String, scriptName: String)(customHeader: Html)(body: Html)
@CpPage(title, CpMenu.default){
	<script src="https://static.icos-cp.eu/constant/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	@customHeader
	<script src="common.js"></script>
	<script src="@(scriptName).js"></script>
	<style type="text/css">
		.fixed-message {
			position:fixed;
			top:3px;
			right: 15px;
		}
		#message{
			z-index: 3;
		}
	</style>

	<script type="text/javascript">
		$(window).scroll(function() {
			if ($('#message-container').offset().top < $(window).scrollTop()) {
				$('#message').addClass('fixed-message');
			} else {
				$('#message').removeClass('fixed-message');
			}
		});
	</script>
}{
	<div class="page-header">
		<h1>ICOS Carbon Portal Authentication Service <small>@subheading</small></h1>
	</div>

	<div id="message-container">
		<div hidden id="message" class="alert" role="alert"></div>
	</div>

	@body
}

