@CpauthPage("Login to Carbon Portal", "Please sign in", "login"){
	<script src="https://static.icos-cp.eu/constant/cookies.js/1.2.1/cookies.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.structure.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.icos-cp.eu/constant/jquery/plugins/autocomplete/1.11.4/jquery-ui.theme.min.css">
}{
	<h4>
		<span class="label label-info">Carbon Portal uses cookies to handle your login session</span>
		<br/>
		<span class="label label-info">By using our services, you agree to our use of cookies</span>
	</h4>

	<br/>

	<div class="row">

		<ul class="nav nav-tabs" role="tablist">

			<li role="presentation" class="active col-xs-12 col-sm-2">
				<a href="#swamid" id="swamid-link" aria-controls="swamid" role="tab" data-toggle="tab">
					University sign in
				</a>
			</li>

			<li role="presentation" class="col-xs-12 col-sm-2">
				<a href="#plain" id="plain-link" aria-controls="plain" role="tab" data-toggle="tab">
					Password sign in
				</a>
			</li>

			<li role="presentation" class="col-xs-12 col-sm-2">
				<a href="#create" id="create-link" aria-controls="create" role="tab" data-toggle="tab">
					Create account / forgot password
				</a>
			</li>

			<li class="col-sm-8"></li>
		</ul>

	</div>

	<div class="row">
		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="swamid">
				<div class="panel panel-default">
					<div class="panel-body">

						<form id="saml-login" action="/saml/login">
							<input id="targetUrl" class="targetUrlRelay" type="hidden" name="targetUrl">

							<div class="form-group">
								<label for="idpUrlInput">Select university:</label><br>
								<input type="text" id="idpUrlInput" class="form-control" style="width:50em;" />
							</div>

							<button id="signonBtn" class="btn btn-default">Login!</button>
						</form>

					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="plain">
				<div class="panel panel-default">
					<div class="panel-body">

						<form id="plain-login">
							<input class="targetUrlRelay" type="hidden" name="targetUrl">

							<div class="form-group">
								<label for="mail">Email:</label>
								<input id="mail" name="mail" type="email" class="form-control" placeholder="Enter email" />
							</div>

							<div class="form-group">
								<label for="password">Password:</label>
								<input id="password" name="password" type="password" class="form-control" placeholder="Password" />
							</div>

							<button type="button" class="btn btn-default" id="passwordLoginButton">Login!</button>

						</form>
						
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="create">
				<div class="panel panel-default">
					<div class="panel-body">

						<form id="create-account">

							<div class="form-group">
								<label for="newmail">Email:</label>
								<input id="newmail" name="newmail" type="email" class="form-control" placeholder="Enter email" />
							</div>

							<button type="button" class="btn btn-default" id="choosePasswordButton">Let me choose a password!</button>

						</form>

					</div>
				</div>
			</div>

		</div>
	</div>
}

