@CpauthPage("Welcome to Carbon Portal", "Manage your account here", "home"){
}{
	<div hidden id="message" class="alert" role="alert"></div>

	<div id="hello" hidden>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					You are signed in with the following claims:
				</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr><th>Given name:</th><td id="givenName"></td>
							<td rowspan="3" style="text-align: center;vertical-align: middle">
								<button type="button" class="btn btn-primary btn-lg" id="signOutButton">Sign out</button>
							</td>
						</tr>
						<tr><th>Surname:</th><td id="surname"></td></tr>
						<tr><th>E-mail:</th><td id="mail"></td></tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					Your API token:
				</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-1">
					<strong>Token:</strong>
				</div>
				<div id="token" class="col-sm-11" style="word-wrap: break-word;"></div>
			</div>
		</div>

		<div id="forLocalsOnly" hidden>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						You can change your password here:
					</h3>
				</div>
				<div class="panel-body">
					<div class="input-group">
						<span class="input-group-addon">Enter your old password</span>
						<input type="password" id="oldPassword" class="form-control" placeholder="Old password">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">Enter your new password</span>
						<input type="password" id="newPassword" class="form-control" placeholder="New password">
						<span class="input-group-btn">
						  <button class="btn btn-primary" type="button" id="changePasswordButton">Change!</button>
						</span>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						You can delete your account here:
					</h3>
				</div>
				<div class="panel-body">

					<button type="button" class="btn btn-primary btn-lg" id="deleteAccountButton">Delete account</button>

					<div id="deleteAccountConfirmation" hidden>
						<br/>
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									ARE YOU SURE YOU WANT TO DELETE YOUR ACCOUNT?
								</h3>
							</div>
							<div class="panel-body">
								<button type="button" class="btn btn-primary btn-lg" id="cancelDeleteButton">NO! GO BACK TO SAFETY!</button>
								<button type="button" class="btn btn-danger btn-lg" id="reallyDeleteButton">YES</button>
							</div>
						</div>
					</div>

				</div>
			</div>
			
		</div>

	</div>

	<div id="goodbye" hidden>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
					You are not signed in
				</h3>
			</div>
			<div class="panel-body">
				<h4>Sign in here: <a href="https://cpauth.icos-cp.eu/login/">https://cpauth.icos-cp.eu/login/</a></h4>
			</div>
		</div>
	</div>
}

